In [15]:
values=input('put coma seperated numbers')

put coma seperated numbers1,2,3,4

In [16]:
values

'1,2,3,4'

In [17]:
values.split(',')

['1', '2', '3', '4']

In [21]:
a=4
b=5
c=a+b
print('sum of above two num = ',c)

sum of above two num =  9

In [23]:
col = ["Red","Green","White" ,"Black"]
col

['Red', 'Green', 'White', 'Black']

In [30]:
col[0]

'Red'

In [31]:
col[-1]

'Black'

In [36]:
print(col[0],end=',')
print(col[-1])

Red,Black

In [37]:
a=input('put the number')
s=int(a)+int(a*2)+int(a*3)
print(s)

put the number5
615

In [26]:
nc=input('put number of colors')
lc=[]
for i in range(int(nc)):
    a=input('color name')
    lc.append(a)
print(lc)
print([lc[0],lc[-1]])

put number of colors4
color namered
color nameblack
color namegreen
color nameblue
['red', 'black', 'green', 'blue']
['red', 'blue']

In [3]:
a=input("put coma seperated binary number of 4 digits.")
b=a.split(',')
for i in b:
    if int(i)%5==0:
        print(i,end=',')

put coma seperated binary number of 4 digits.0101,0011,1010,1110
1010,1110,

In [5]:
word='ramen123'
l1=list(word)
l1

['r', 'a', 'm', 'e', 'n', '1', '2', '3']

In [13]:
#generate a list  having 1 to 20 numbers
l1=[]
for i in range(1,12):
    l1.append(i)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [3]:
## Now counting even and odd in above list
l1=[2,7,8,9,0,13,25]
c_even=0
c_odd=0
for i in l1:
    if i%2==0:
        c_even+=1
    else:
        c_odd+=1
print('count of even number = %d and count of odd number = %d' %(c_even, c_odd))

count of even number = 3 and count of odd number = 4

In [16]:
l1=[1,3,5,62,15,75,45,6,8,9,13,11]
for i in l1:
    if (i%3==0) and (i%5==0):
        print('FizzBuzz')
    elif(i%3==0):
        print('Fizz')
    elif(i%5==0):
        print('Buzz')
    else:
        print(i)

1
Fizz
Buzz
62
FizzBuzz
FizzBuzz
FizzBuzz
Fizz
8
Fizz
13
11

In [20]:
# making list of 1 to 100
list1=list(range(2,101))
list1

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [21]:
for i in list1:
    if (i%2)and(i%3)and(i%5)and(i%7):
        print(i)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [24]:
str1=input('Plese enter alphanumeric string')
list1=list(str1)
c_d=0
c_a=0
for i in list1:
    if i.isalpha():
        c_a+=1
    elif i.isdecimal():
        c_d+=1
print('Count of alphabetical charater = %d and count of digit = %d' %(c_a,c_d) )

Plese enter alphanumeric stringRamen.123
Ccount of alphabetical charater = 5 and count of digit = 3

In [22]:
ss='Ramen.123'
ll=list(ss)
ll

['R', 'a', 'm', 'e', 'n', '.', '1', '2', '3']

In [2]:
##reversing a string
str1='restarter'
n=len(str1)
for i in range(-1,-(n+1),-1):
    print(str1[i],end='')

retratser

In [24]:
## a second approach to reversing string
str1='restarter'
n=len(str1)
for i in range(n-1,-1,-1):
    print(str1[i],end='')

retratser

In [26]:
str1='restarter'
str1[::-1]

'retratser'

In [20]:
## changing the 'r' with '$' in a string except 'r' at first position 
str1='restarter'
st=list(str1)
a=len(st)
for i in range(1,a):
    if st[i]=='r':
        st[i]='$'
st=''.join(st)       
st

'resta$te$'

In [22]:
str1='restarter'
str1[0]+str1[1:].replace('r','$') ## Using Replace command

'resta$te$'

In [28]:
##counting 'r' in string :> 'restarter'
str1='restarter'
sm=0
for i in str1:
    if i=='r':
        sm=sm+1
print('total number of r in given string = ', sm)

total number of r in given string =  3

In [32]:
## calculate mode from a given list l1
l1=[1,2,3,2,3,3,4,5]
l_c=len(l1)
unique=list(set(l1))
u_c=len(a)
for i in range()

In [33]:
a

{1, 2, 3, 4, 5}

In [31]:
list(a)

[1, 2, 3, 4, 5]

In [5]:
## Printing star pattern
n=12
for i in range(1,n):
    if i<=n/2:
        print('*  '*i)
    else:
        print('*  '*(n-i))

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [1]:
##Write a Python function to find the maximum and minimum numbers from a sequence of numbers.
##Note: Do not use built-in functions.
##Not working

l1=[-1,-5,4,3,1,2,7]
n=len(l1)
for i in range(n-1):
    a=l1[i]
    b=l1[i+1]
    if a>b:
        c=a
        a=b
        b=c
        l1[i]=a
        l1[i+1]=b

In [2]:
l1

[-5, -1, 3, 1, 2, 4, 7]

In [63]:
###Write a Python function to find a distinct pair
#of numbers whose product is odd from a sequence of integer values. 
l1=[1,2,5,3,2,4,6,9,7,8,12,13]  ##Given list
n=len(l1)
final_l=[]
for i in range(n):
    a=l1[i]
    l=[a]
    if i<n-1:
        for j in  range(i+1,n):
            if(a*l1[j])%2!=0:
                l.append(l1[j])
        if len(l)>=2:
            for i in range(1,len(l)):
                m1=l[0]
                m2=l[i]
                final_l.append(tuple([m1,m2]))
                
print(final_l)

[(1, 5), (1, 3), (1, 9), (1, 7), (1, 13), (5, 3), (5, 9), (5, 7), (5, 13), (3, 9), (3, 7), (3, 13), (9, 7), (9, 13), (7, 13)]

In [64]:
a=tuple([2,3])
a

(2, 3)

In [1]:
### Code for sorting a list, Extend it to find min and max
data=[0, 10, 15,-1, 40, -5, 42, 17, 28, 75]
n=len(data)
l=[]
while len(l)<n:
    s = data[0]
    for num in data:
        if num< s:
            s = num
    data.remove(s)        
    l.append(s)
l

[-5, -1, 0, 10, 15, 17, 28, 40, 42, 75]

In [66]:
int(True)

1

In [67]:
int(False)

0

In [72]:
##Write a python program to take two input in a single line with coma seperation
print("Input the value of x & y with coma seperation")
x, y = map(int, input().split(','))
print("The value of x & y are: ",x,y)

Input the value of x & y
2,4
The value of x & y are:  2 4

In [75]:
x+y

6

In [3]:
def pow(x,n):
    result=x**n
    return result

In [4]:
pow(4,-2)

0.0625

In [2]:
4**(-1)

0.25

In [9]:
## reversing a sentence word by word
se='Adam is good player.'
l1=se.split()
l1
l1.reverse()
l1

['player.', 'good', 'is', 'Adam']

In [11]:
' '.join(l1)

'player. good is Adam'

In [15]:
## Finding Minimum from a list
list1=[25,-10,7,-3,-2,4,8,10]
len(list1)
a=list1[0]
for i in range(len(list1)):
    if a>list1[i]:
        a=list1[i]
print(a)

-10

In [2]:
list1=[25,-10,7,-3,-2,4,8,10]
n=len(list1)
a=list1[0]
for i in list1:
    if a>i:
        a=i
print(a)

-10

In [1]:
list1=[25,-10,7,-3,-2,4,8,10]
n=len(list1)
sorted_l=[]
while len(sorted_l)<n:
    a=list1[0]
    for i in list1:
        if a>i:
            a=i
    sorted_l.append(a)
    list1.remove(a)
print(sorted_l)

[-10, -3, -2, 4, 7, 8, 10, 25]

In [14]:
len(list1)

8

In [51]:
## finding possible set list  from a given list 
list1=[4,5,6]
n=len(list1)
l=[[],list1]
for i in range(n):
    l.append(list((list1[i],)))
    for j in range(i+1,n):
        a=list((list1[i],list1[j]))
        l.append(a)
    
l

[[], [4, 5, 6], [4], [4, 5], [4, 6], [5], [5, 6], [6]]

In [61]:
lll=[1,2,3]
lll.append(4)
lll

[1, 2, 3, 4]

In [14]:
len(l)

28

In [8]:
list1.remove(l[0][0])
list1.remove(l[0][1])
list1

[-7, -3, 2, 4, 8, 10]

In [5]:
## Generating (1/5,1/4,1/3,1/2) ans finding sum
n=5
sm=0
while n>1:
    print(1/n)
    sm+=(1/n)
    n=n-1

    
print('sum =',sm)

0.2
0.25
0.3333333333333333
0.5
sum = 1.2833333333333332

In [7]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [14]:
# factoril function (void type without return)
def fact_cal(n):
    fact=1
    while n>0:
        fact=fact*n
        n=n-1
    print(fact)

In [18]:
type(fact_cal(4))

24

NoneType

In [17]:
a

In [19]:
a=fact_cal(5)
b=fact_cal(5-2)
c=fact_cal(2)

120
6
2

In [20]:
ans=a/(b*c)
ans

TypeError: unsupported operand type(s) for *: 'NoneType' and 'NoneType'

In [1]:
## Count even and odd number in a given list
list1=[2,3,4,5,6,78,9,10]
c_odd=0
c_even=0
for i in list1:
    if i%2==0:
        c_even=c_even+1   # c_even+=1
    else:
        c_odd=c_odd+1

print('count of even is %d and count of odd is %d'%(c_even,c_odd))

count of even is 5 and count of odd is 3

In [1]:
## Write python program to make a new list from a given list which contain all the words with length greater than 3
l1=['bird','cat','sugar','ball','apple','map']
l2=[]
for i in l1:
    if len(i)>3:
        l2.append(i)

In [2]:
l2

['bird', 'sugar', 'ball', 'apple']

In [12]:
# Write a Python function that takes two lists and returns True 
##if they have at least one common member.

def list_common(l1,l2):
    l3=[]
    for i in l1:
        for j in l2:
            if i==j:
                l3.append(i)
    return l3

In [14]:
l1=[1,2,3,4,5,6,6,8,9]
l2=[6,2,7,8,9,]
list_common(l1,l2)

[2, 6, 6, 8, 9]

In [15]:
# Finding index position of any number (6 in this given list)
l1=[1,2,3,4,5,6,8,9]
for i in range(len(l1)):
    if l1[i]==6:
        print(i)

5

In [1]:
## finding unique values from a given list
l1=[1,1,3,4,4,2,2,7]
l2=[]
for i in l1:
    a=i
    if a not in l2:
        l2.append(a)
l2

[1, 3, 4, 2, 7]

### Calculating Mean,Std.Dev, Median, Mode of a given list

#### From statistica library in Python
https://docs.python.org/3/library/statistics.html

In [32]:
list1=[1,2,3,3,4,5,3,6,7,8,9,3,10]
list1

[1, 2, 3, 3, 4, 5, 3, 6, 7, 8, 9, 3, 10]

In [33]:
st.median(list1)

4

In [7]:
list1.sort()
list1

[1, 2, 3, 3, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
## Without using libray
##Mean
n=len(list1)
u=sum(list1)/n
print('Mean:',u)
##Standard Deviation
sm=0
for i in list1:
    sm=sm+(i-u)**2
    
std_dev=(sm/(n-1))**(0.5)
print('std_dev:',std_dev)

Mean: 4.923076923076923
std_dev: 2.841992800294026

In [16]:

## Median
n=len(list1)
if n%2==0:
    a=(n-1)//2
    b=a+1
    median=(list1[a]+list1[b])*0.5
    print('Median:',median)
else:
    a=((n-1)+1)//2
    median=list1[a]
    print('Median:',median)

Median: 4

In [26]:
## Mode
list1=[1,3,4,5,6,3,3,1,2,2,2,6]
list2=list(set(list1))
count=[]
for i in list2:
    count.append(list1.count(i))
################################    
mode=[]  
maxm=max(count)
for i in range(len(count)):
    if count[i]==maxm:
        mode.append(list2[i])    
#mode

In [27]:
count

[2, 3, 3, 1, 1, 2]

In [22]:
list2

[1, 2, 3, 4, 5, 6]

In [28]:
import statistics as st

In [30]:
list4=[1,3,4,5,6,3,3,1,2,2,6]

In [34]:
list4.remove(3)

In [35]:
list4

[1, 4, 5, 6, 3, 3, 1, 2, 2, 6]

In [36]:
list4.pop(0)

1

In [37]:
list4

[4, 5, 6, 3, 3, 1, 2, 2, 6]

In [7]:
def fact_cal(n):
    fact=1
    while n>0:
        fact=fact*n
        n=n-1
    return(fact)

In [9]:
## finding value of e^x when x=1
sm=0
for i in range(101):
    sm=sm+(1/fact_cal(i))
print(sm)

2.7182818284590455

In [1]:
list1=[3,10,7,15,24,75]
for i in list1:
    if i%3==0 and i%5==0:
        print('FiZZBUZZ')
    elif i%3==0:
        print('FIZZ')
    elif i%5==0:
        print('BUZZ')
    else:
        print(i)

FIZZ
BUZZ
7
FiZZBUZZ
FIZZ
FiZZBUZZ

#### BEST OF LUCK!!!